<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Velas</title>
</head>
<body>
    <h1>Productos disponibles</h1>
    <ul>
        {{#each productos}}
        <li>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" width="100">
        </li>
        {{/each}}
    </ul>
    <script src="../public/css/style.css"></script>
</body>
</html>
